<div class="jumbotron descr-top">
  <div class="container text-center">
    {{#each hometopo}}
      <h1>{{titulo}}</h1>
      <p class="lead mb-4">{{sbtitulo}}</p>
      <a class="btn btn-lg btn-outline-light" href="{{urlbtn}}" role="button">{{titulobtn}}</a>
    {{/each}}
  </div>
</div>
